<form class="add-recipe-form" method="POST" action="">
    <div class="form-group">
        <label class="add-recipe-label" for="exampleInputEmail1">Наименование на рецептата</label>
        <input type="text" class="form-control" id="recipeName" name="recipeName">
    </div>
    <div class="form-group">
        <label class="add-recipe-label" for="exampleInputPassword1">Време за приготвяне</label>
        <input type="text" class="form-control" id="recipeName" name="recipeName">
    </div>
    <div class="form-group">
        <label class="add-recipe-label" for="exampleInputPassword1">Порции</label>
        <input type="text" class="form-control" id="recipeName" name="recipeName">
    </div>
    <div class="form-group">
        <label class="add-recipe-label" for="exampleInputPassword1">Начин на приготвяне</label>
        <textarea type="text" class="form-control" id="recipeName" name="recipeName" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label class="add-recipe-label" for="exampleInputPassword1">Съставки</label>
        <input type="text" class="form-control" id="recipeName" name="recipeName">
    </div>
    <div class="form-group">
        <label class="add-recipe-label" for="exampleInputPassword1">Снимки</label>
        <input class="form-control" name="upload" type="file" id="image" multiple>
    </div>
    <div class="form-group">
        <label class="add-recipe-label" for="exampleInputPassword1">Категория</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary" style="margin:10px;">Добави рецепта</button>
</form>