<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/site.css">
    <title>Мойте рецепти</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
            <a href="/"><img src="siteLogoAlt.png" class="site-logo" /></a>
            <a href="#" class="navbar-brand"><img src="bread_icon.svg"> Закуски и тестени</a>
            <a href="#" class="navbar-brand"><img src="salad_icon.svg"> Салати</a>
            <a href="#" class="navbar-brand"><img src="soup_icon.svg"> Супички</a>
            <a href="#" class="navbar-brand"><img src="main_icon.svg"> Основни</a>
            <a href="#" class="navbar-brand"><img src="desserts_icon.svg"> Десерти</a>
            <a href="#" class="navbar-brand"><img src="drinks_icon.svg"> Напитки</a>
            <a href="#" class="navbar-brand"><img src="winter_food_icon.svg"> Зимнина</a>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input class="form-control" id="address-bar" type="search" placeholder="Потърси рецепта"
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            {{{body}}}
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>За сайта</h6>
                    <p class="text-justify"><i>Мойте рецепти</i> е любителски сайт за рецепти.</p>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Линкове</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">За нас</a></li>
                        <li><a href="http://scanfcode.com/contact/">Контакти</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                        <a href="https://github.com/YStoichkov">YStoichkov</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>